# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite databases
*.db
*.sqlite3

# macOS system files
.DS_Store

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Bỏ thư mục Python venv
venv/
__pycache__/
*.pyc

data/*.pkl
.env

data/embeddings/*.pkl

check_model.py

source/
.env.backup.20251111_105143
.gitignore
chatbot-whoisme.service
chatbot-whoisme.service.template
$file
