flask
flask-cors
langchain
langchain-community
langchain-openai
langchain-text-splitters
openai
pydantic
python-dotenv
requests
faiss-cpu
supabase
dotenv
aiohttp
flask-bcrypt
scikit-learn
numpy<2.0.0
pandas
nltk
sentence_transformers
torch
gspread
google-auth
google-auth-oauthlib
google-generativeai
PyJWT
psycopg2-binary